body {
  padding-top: 10px;
  padding-bottom: 10px;
}

#outer_container{
  padding-right: 15px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 2170px;
  height: 2970px;
  background-color: #ededed;
  background-image: url(img/b2.jpg);  
  background-repeat: no-repeat;     
  background-position: center bottom;
  background-size: 2200px;
}

h3 {
  margin-top: 2rem;
}

.header{
  background-color: #47455a17;
  vertical-align: top;
  /* width:auto;
  height:auto; */
  width: 2100px;
  height: 2750px;
}


#UserAvatar {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  border: 10px solid #fff;
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 60px;
  box-shadow: -1px 5px 25px -5px #000000a8;
}

#Avatar {
  background: #fff;
  border-radius: 10px;
  vertical-align: top;
}

#Name{
  display: block;
  margin-left: 50px;
  margin-top: 40px;
  width: 380px;
}

#Name h1{
  margin-left: 6px;
  margin-top: -15px;
  font-size: 72px;
  font-weight: bold;
  font-family: Tahoma,Helvetica,Arial,'FangSong',sans-serif;
}

#Name p{
  margin-top: -6px;
  margin-left: 6px;
  font-size: 32px;
  font-weight: bold;
  font-family: Tahoma,Helvetica,Arial,'FangSong',sans-serif;
}

#Title{
  font-size: 72px;
  font-weight: bold;
  font-family: Tahoma,Helvetica,Arial,'微软雅黑',sans-serif;
  background: rgba(0, 0, 0, 0.6);;
  color: #fff;
  position: relative;
}

#TopCard{
  box-shadow: -1px 5px 25px -5px #000000a8;
  background-color: rgba(255, 255, 255, 0);
  height: 950px;
}

#TopLeftCard{
  float: left;
  height: 950px;
}


.leaf{
  font-size: 24px;
  font-weight: bold;
  font-family: Tahoma,Helvetica,Arial,'FangSong',sans-serif;
  float: right;
}

#CardContainer{
  background-color: transparent;
  vertical-align: top;
  position: relative;
  left: 4%;
  top: 1%;
  width: 100%;
  height: 1000px;
}


.cover{
  height: 100px;
  margin-top: 30px;
}

.skill-title{
  font-weight: bold;
  font-size: 45px;
  margin-left: 150px;
  margin-top: -80px;
}

.skillcard{
  text-shadow:1px 1px 0px rgba(33, 44, 146, 0.151),-1px 1px 0px rgb(132, 128, 177);   font-family: "微软雅黑";
  color: #fff;
  box-shadow: -1px 5px 25px -5px #000000a8;
  background-color: rgba(0, 0, 0, 0.6);
  float:left; 
  width:600px;
  height:780px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-top: 10px;
  text-overflow:ellipsis; 
  overflow:hidden;
}

.description{
  margin-top: 30px;
  font-size:25px;
  margin-left: 30px;
  margin-right: 25px;
  line-height: 2;
  overflow:hidden;
}

#p2019{
  height:157px;
}

#p2018{
  height:157px;
}

#p2017{
  height:161px;
}

#pprev{
  height:191px;
}

#Skillstack{
  background-color: transparent;
  vertical-align: top;
  position: relative;
  left:0%;
  width: 100%;
  top: 28%;
}


#MiddleBar{
  background-color: #47455a17;
  vertical-align: top;
  position: relative;
  width: 1900px;
  top: 30%;
}

#Footer{
  position: relative;
  top:15px;
}

#Phone{
  float:right;
  display:inline;
  position: relative;
  color: #fff;
  font-size: 40px;
}

#Email{
  float:right;
  display:inline;
  position: relative;
  color: #fff;
  font-size: 40px;
}

#Github{
  float:right;
  display:inline;
  position: relative;
  color: #fff;
  font-size: 40px;
}